/* Estilos generales para el proyecto */
/* Aquí cada alumno puede agregar los estilos de su sección */
#contacto { 
 padding: 20px; 
 background-color: #eee; 
} 
#contacto input, #contacto textarea { 
 width: 100%; 
 margin-bottom: 10px; 
} 
