header {
 text-align: center;
 background-color: #f0f0f0;
 padding: 22px;
}
header img {
 border-radius: 50%;
}
/* Aquí cada alumno puede agregar los estilos de su sección */
#proyectos {
  background-color: #f9f9f9;
  padding: 20px;
}

#proyectos ul {
  list-style-type: none;
}

#proyectos a {
  color: #0077cc;
  text-decoration: none;
}

#proyectos a:hover {
  text-decoration: underline;
}